body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}


canvas {
    margin-top: 50px;
}

.hidden{
    display:none;
}

.gameOverTitle{
    color:red;
}

.red{
    color:red
}

.btn{
    width:200px;
    color: green;
}